<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form #peopleForm="ngForm" (ngSubmit)="addPeople(peopleForm)">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="Please, Enter FullName"
              [(ngModel)]="peopleService.selectedPeople.name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="mail"
              placeholder="Please, Enter Email"
              [(ngModel)]="peopleService.selectedPeople.mail"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              name="km"
              placeholder="Please, Enter distance traveled"
              [(ngModel)]="peopleService.selectedPeople.km"
            />
          </div>
          <button class="btn btn-primary mr-2">
            Clean
          </button>
          <button class="btn btn-secondary">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Distance traveled</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let people of peopleService.peoples">
          <td>{{ people.name }}</td>
          <td>{{ people.mail }}</td>
          <td>{{ people.km }}</td>
          <td>
            <button class="btn btn-secondary btn-sm">
              <i class="material-icons">edit</i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deletePeople(people._id)">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
